<header>
  <div class="header__logo-box">
      <img src="../../assets/logo-white.png" alt="Logo" class="header__logo">
  </div>
  <div class="header__head-box">
    <nav class="navigation__nav">
      <ul class="navigation__list">
          
          <li class="navigation__item">
              <a href="#" class="navigation__link"><span>About Us</span></a>
          </li>
         <!--  <li class="navigation__item">
              <a href="#" class="navigation__link"><span>Compare Packages</span></a>
          </li>
          <li class="navigation__item">
              <a href="#" class="navigation__link"><span>Popular Tours</span></a>
          </li> -->
          <li class="navigation__item">
              <a href="#" class="navigation__link" routerLink= "stories"><span>Stories</span></a>
          </li>
          <li class="navigation__item">
                  <a href="#" class="navigation__link" routerLink= "new-story"><span>Share Your Story</span></a>
          </li>
      </ul>
  </nav>
  </div>
</header>